@model Iris10ReportUI.Models.ChangePasswordViewModel

<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-changepassword {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ddd;
    }

        .form-changepassword .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px;
        }

            .form-changepassword .form-control:focus {
                z-index: 2;
            }
</style>

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewData["Title"] = "Change Password";
    
}

<div class="container">

    <div class="form-changepassword">

        <div id="title">
            <img class="titleimage img-responsive" src="~/Content/Images/iris-logo-355.jpg" />
        </div>
      
        @using (Html.BeginForm("ForgotPassword"))
        {
            <h2 class="form-changepassword-heading">@ViewData["Title"]</h2>
            
            <label for="inputCurrentPassword" class="sr-only">Email address</label>
            @*@Html.Label("Current Password", new { @for = "inputCurrentPassword", @class = "control-label sr-only" })
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", id = "inputCurrentPassword", placeholder = "Current Password" })*@

            @Html.Label("New Password", new { @for = "inputNewPassword", @class = "control-label sr-only" })
            @Html.PasswordFor(model => model.PasswordOne, new { @class = "form-control", id = "inputNewPassword", placeholder = "New Password" })

            @Html.Label("Confirm Password", new { @for = "inputConfirmPassword", @class = "control-label sr-only" })
            @Html.PasswordFor(model => model.PasswordTwo, new { @class = "form-control", id = "inputConfirmPassword", placeholder = "Confirm Password" })

            <div class="form-group text-center">
                @Html.HiddenFor(m => m.UserName)
                <input type="submit" class="k-button k-primary" value="Submit" />
               
            </div>

            @Html.ValidationSummary(true)

        }

    </div> <!-- /form-changepassword -->

</div> <!-- /container -->

@*<script type="text/javascript">*@
    @*$(document).ready(function() {
        $('#inputNewPassword').strengthMeter('text', {
            container: $('#inputNewPassword'),
            hierarchy: {
                '0': ['text-danger', 'Think about a stronger password!'],
                '5': ['text-warning', 'Well, you are doing better ...'],
                '10': ['text-warning', 'Keep going ...'],
                '15': ['text-success', 'Ok, this will do!']
            }
        });
    });
</script>*@